@import '~@s-ui/react-atom-input/lib/index.scss';
@import '~@schibstedspain/sui-atom-button/lib/index.scss';
@import '~@s-ui/react-molecule-pagination/lib/index.scss';

.App {
  nav a {
    margin-right: 10px;
  }
}

.DetailUser {
  background-color: #7c9752;
  color: #FFF;
  padding: 10px;
}


.ListUsers {
  background-color: #efd760;
  padding: 30px;
}
