.MoviesApp {
  &-toolbar {
    &-languages {
      width: 100px;
      display: flex;
      justify-content: space-between;
    }
  }

}

.sui-AtomLabel {
  display: none;
}
.sui-AtomSwitch-toggleType .sui-AtomSwitch-container {
  margin-top: 0;
}