@import '~@schibstedspain/sui-atom-button/lib/index.scss';
@import '~@s-ui/react-atom-textarea/lib/index.scss';
@import '~@s-ui/react-atom-label/lib/index.scss';
@import '~@s-ui/react-molecule-input-field/lib/index.scss';

.myForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  color: black;
  width: 70%;
  margin: 2em;
}
